@model MediClinic.Models.Physician

@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
    ViewData["Title"] = "Create Physician";
}
<form asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row g-4">

        <div class="col-md-6">
            <label asp-for="PhysicianName" class="form-label"></label>
            <input asp-for="PhysicianName" class="form-control" />
            <span asp-validation-for="PhysicianName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Specialization" class="form-label"></label>
            <input asp-for="Specialization" class="form-control" />
            <span asp-validation-for="Specialization" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="col-md-6">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="col-12">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" />
        </div>

        <div class="col-12">
            <label asp-for="Summary" class="form-label"></label>
            <textarea asp-for="Summary" class="form-control" rows="3"></textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="PhysicianStatus" class="form-label"></label>
            <select asp-for="PhysicianStatus" class="form-select">
                <option value="">Select Status</option>
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>


    </div>

    <div class="d-flex justify-content-end gap-2 mt-5">
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary px-4">Create</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}