@model MediClinic.Models.Appointment
@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<h2>Book Appointment</h2>

<form method="post">

    <div class="mb-3">
        <label>Date & Time</label>
        <input asp-for="AppointmentDate" type="datetime-local" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Reason</label>
        <input asp-for="Reason" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Criticality</label>
        <select asp-for="Criticality" class="form-select">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
    </div>

    <div class="mb-3">
    <label>Required Specialization</label>
    <select asp-for="RequiredSpecialization" class="form-select" required>
        <option value="">-- Select Specialization --</option>
            <option value="Neurology">Neurology</option>
            <option value="Dermatology">Dermatology</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Orthopedics">Orthopedics</option>
    </select>
</div>

    <button type="submit" class="btn btn-primary">
        Book
    </button>

</form>
