@model List<MediClinic.Models.PhysicianPrescrip>

<h2>My Prescriptions</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Drug</th>
            <th>Dosage</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PrescriptionId</td>
                <td>@item.DrugId</td>
                <td>@item.Dosage</td>
                <td>
                    <a asp-action="RequestMedicine"
                       asp-route-id="@item.PrescriptionId"
                       class="btn btn-warning btn-sm">
                        Request Medicine
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


