@model MediClinic.Models.PurchaseProductLine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PurchaseProductLine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Poid" class="control-label"></label>
                <select asp-for="Poid" class ="form-control" asp-items="ViewBag.Poid"></select>
            </div>
            <div class="form-group">
                <label asp-for="DrugId" class="control-label"></label>
                <select asp-for="DrugId" class ="form-control" asp-items="ViewBag.DrugId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SlNo" class="control-label"></label>
                <input asp-for="SlNo" class="form-control" />
                <span asp-validation-for="SlNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
